<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">





        <!--<bean id="smallji" class="com.spring.annotation.ioc1.ji"></bean>-->
        <!--如果是用注解，，则需要注解驱动
                context：component-scan : 组件扫描
                base-package : 扫描包里的带有注解的类，然后添加-->
        <context:component-scan base-package="com.spring.annotation.ioc1"></context:component-scan>
        <context:component-scan base-package="com.spring.annotation.mvc2"></context:component-scan>
</beans>